{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container pt-5">
    <div class="google-signin-container text-center">
        {% if process == "connect" %}
            <h1>{% trans "Connect" %} {{ provider.name }}</h1>
            <p>{% trans "You are about to connect a new third-party account from" %} {{ provider.name }}.</p>
        {% else %}
            <h1>{% trans "Sign In Via" %} {{ provider.name }}</h1>
            <p>{% trans "You are about to sign in using a third-party account from" %} {{ provider.name }}.</p>
        {% endif %}
        <form method="POST" class="google-signin-form mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
            <a class="btn btn-outline-dark" href="{% url 'home:index' %}">{% trans "Back to Home" %}</a>
        </form>
    </div>
</div>
{% endblock content %}