{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Set Password" %}
{% endblock head_title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
<hr>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set allauth-form-inner-content">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary" />
    <a class="btn btn-outline-secondary rounded-0" href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
</form>
{% endblock inner_content %}
{% extends "account/base_manage.html" %}