{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-12 mx-auto" style="max-width: 500px;">
      <div class="card shadow">
        <div class="card-body p-5">
          <h2 class="text-center mb-4">Welcome back!</h2>
          <hr class="my-4">

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p class="text-center mb-4">
            {% blocktrans %}Sign in with your social account or MasteryHub account.{% endblocktrans %}
          </p>

          <div class="d-flex justify-content-center mb-4">
            {% for provider in socialaccount_providers %}
            {% if provider.id == "google" %}
            <a href="{% provider_login_url provider.id process='login' %}" class="btn btn-outline-secondary mx-2">
              <i class="fab fa-google"></i> Sign in with Google
            </a>
            {% endif %}
            {% endfor %}
          </div>

          <div class="text-center mb-4">
            <span class="bg-white px-3">{% trans 'or' %}</span>
          </div>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign In" %}</button>
              <a class="btn btn-outline-secondary" href="{% url 'home' %}">Back to Home</a>
            </div>
          </form>
          <div class="text-center mt-4">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}