{% extends "account/base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="card shadow">
    <div class="card-body p-5">
      <hr>
      <h2 class="logo-font mb-4 text-center">{% trans "Sign Out" %}</h2>
      <hr>
      {% if request.user.is_authenticated %}
      <p class="text-center">{% trans "We hope to see you again soon! Are you sure you want to sign out?" %}</p>
      {% url 'account_logout' as action_url %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
          <a href="{% url 'home' %}" class="btn btn-secondary ml-2">{% trans "Cancel" %}</a>
        </div>
      </form>
      {% else %}
      <p class="text-center">{% trans "You are already logged out." %}</p>
      <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Go to Home" %}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}