{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container account-container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            
            {% if token_fail %}
                {% url 'account_password_reset' as passwd_reset_url %}
                <p>
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                </p>
            {% else %}
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100">
                        {% trans 'Change Password' %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
