{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="container pt-4 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <h1>{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password has been successfully changed.' %}</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary mt-3">{% trans "Back to Login" %}</a> 
            </div>
        </div>
    </div>
{% endblock content %}
