{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container account-container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
            <h1>{% trans "Change Password" %}</h1>
            <div class="alert alert-success">
                <p>{% trans 'Your password has been successfully changed.' %}</p>
            </div>
            <p class="mt-3">{% trans "You can now log in with your new password." %}</p>
            <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">{% trans "Go to Login" %}</a> 
        </div>
    </div>
</div>
{% endblock content %}
