{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Join us for Free</h2>
                    <p class="text-center mb-4">
                        Already have an account? <a href="{% url 'account_login' %}" class="text-success">Log in</a>
                    </p>
                    <div class="mb-3">
                        <a href="/accounts/google/login/?process=signup" class="btn btn-outline-dark w-100 mb-3">
                            <i class="fab fa-google" aria-hidden="true"></i> Sign up with Google
                        </a>
                    </div>
                    <p class="text-center">or MasteryHub account.</p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="terms" class="form-check-input" id="id_terms" required>
                                <label for="id_terms" class="form-check-label">
                                    I have read and agree to MasteryHub's
                                    <a href="https://www.termsfeed.com/live/0f539249-0d33-4a4c-b95d-a62c56808701"
                                        class="text-success">Privacy Policy</a>
                                    and
                                    <a href="https://www.termsfeed.com/live/1c785e96-6ff6-4948-99ff-c333f8923466"
                                        class="text-success">Terms of Service</a>
                                </label>
                            </div>
                        </div>

                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <a class="btn btn-outline-dark btn-lg" href="{% url 'account_login' %}">{% trans "Back to
                                Login" %}</a>
                            <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}