{% extends 'base.html' %}
{% load static %}
<div id="loading-spinner" style="display:none;">
    <img src="{% static 'images/spinner.gif' %}" alt="Loading...">
</div>

{% block content %}
<h2>Your Bag</h2>
{% if bag_items %}
<table class="table">
    <thead>
        <tr>
            <th>Session</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in bag_items %}
        <tr>
            <td>{{ item.session.title }}</td>
            <td>${{ item.session.price }}</td>
            <td>
                <button onclick="removeFromBag('{{ item.session.id }}')" class="btn btn-danger">Remove</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ${{ total }}</p>
<a href="{% url 'create_checkout_session' %}" class="btn btn-primary">Proceed to Checkout</a>

{% else %}
<p>Your bag is empty.</p>

{% endif %}

{% endblock %}



{% block scripts %}

<script>
    function toggleSpinner(show) {
        document.getElementById('loading-spinner').style.display = show ? 'block' : 'none';
    }

    function removeFromBag(sessionId) {
        toggleSpinner(true);
        fetch('{% url "remove_from_bag" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ session_id: sessionId })
        })
            .then(response => response.json())
            .then(data => {
                toggleSpinner(false);
                if (data.success) {
                    location.reload();
                } else {
                    alert('Error removing session from bag');
                }
            });
    }

    function addToBag(sessionId, title, price) {
        toggleSpinner(true);
        fetch('{% url "add_to_bag" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ session_id: sessionId, title: title, price: price })
        })
            .then(response => response.json())
            .then(data => {
                toggleSpinner(false);
                if (data.success) {
                    location.reload();
                } else {
                    alert('Error adding session to bag');
                }
            });
    }
</script>
{% endblock %}