/* Global Styles and Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "GT Walsheim Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
}

a {
    color: #003d7a;
}

a:hover,
a:focus {
    color: #002a5b;
}

h1 {
    font-size: 2em;
}

h2, h2.display-4.font-weight-bold, h5, li {
    color: #333;
}

/* Header and Navigation */
.main-logo-link {
    width: fit-content;
}

.image-scroll-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.image-scroll {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.image-scroll figure {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 20px;
}

.image-scroll img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

/* Navigation Links and Buttons */
button.btn {
    color: #ffffff;
}

button.btn-success {
    background-color: #218838;
}

button.btn-primary.btn-lg,
a.btn.btn-primary {
    background-color: #0056b3;
}

a.btn.btn-warning {
    color: #000;
    background-color: #ffc107;
}

a.btn.btn-secondary.google-signup-btn {
    background-color: #495057;
}

a.btn.btn-outline-primary.mx-2 {
    color: #0056b3;
    border-color: #0056b3;
}

input.button.btn.btn-primary {
    background-color: #004085;
}

a.text-success {
    color: #003d34;
}

button.btn.btn-primary.btn-lg.btn-block {
    background-color: #0056b3;
}

/* Additional Button Styles */
.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
}

/* Media Queries */
@media (max-width: 768px) {
    .header-container {
        padding-top: 70px;
    }

    .main-content {
        flex-direction: column;
    }

    .left-column {
        margin: 0 0 20px 0;
    }

    .right-column {
        width: 100%;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
    }

    .search-section {
        flex-direction: column;
    }

    .category-link {
        flex: 1 1 100%;
        text-align: center;
    }

    .session-grid {
        grid-template-columns: 1fr;
    }
}

/* Styles for screens smaller than 991px */
@media (max-width: 991px) {
    .nav-link {
        padding: 0.5rem;
    }

    .carousel-item img {
        height: auto;
        object-fit: cover;
    }
}

/* Styles for screens larger than 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}