{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <h1 class="h3 mb-4 text-gray-800">{% trans "MasteryHub Administration" %}</h1>
    <div class="dashboard-grid">
        <div class="profile-card card text-center">
            <div class="card-body">
                {% if user.profilesprofile.profile_picture %}
                <img src="{{ user.profilesprofile.profile_picture }}" loading="lazy" alt="Profile Picture"
                    class="profile-picture">
                {% else %}
                <img src="{% static 'images/default_profile.jpg' %}" loading="lazy" alt="Default Profile Picture"
                    class="profile-picture">
                {% endif %}

                <h3 class="card-title">{{ user.username }}</h3>
                <p class="text-muted">{{ user.profilesprofile.bio|truncatewords:30|default:"No bio available" }}</p>

                <div class="social-links mt-3">
                    {% if user.profilesprofile.linkedin_profile %}
                    <a href="{{ user.profilesprofile.linkedin_profile }}" target="_blank"
                        class="btn btn-outline-primary btn-sm">LinkedIn</a>
                    {% endif %}
                    {% if user.profilesprofile.github_profile %}
                    <a href="{{ user.profilesprofile.github_profile }}" target="_blank"
                        class="btn btn-outline-dark btn-sm">GitHub</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="actions-container card">
            <div class="card-body">
                <h3>{% trans "Actions" %}</h3>
                <ul>
                    <li><a href="{% url 'admin:index' %}">{% trans "Django Admin" %}</a></li>
                    <li><a href="{% url 'admin:admin_dashboard' %}">{% trans "Custom Admin Dashboard" %}</a></li>
                    {% if user.profilesprofile.is_expert %}
                    <li><a href="{% url 'masteryhub:manage_mentorship_requests' %}">{% trans "Manage Mentorship
                            Requests" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'profiles:view_profile' username=user.username %}">{% trans "View User Profile"
                            %}</a></li>
                    <li><a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}