{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    .dashboard-grid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .profile-card,
    .actions-container {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .profile-picture {
        max-width: 150px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .card-body ul {
        list-style: none;
        padding: 0;
    }

    .card-body ul li {
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-outline-primary {
        color: #007bff;
        background-color: transparent;
        border-color: #007bff;
    }

    .btn-outline-dark {
        color: #343a40;
        background-color: transparent;
        border-color: #343a40;
    }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{% trans "MasteryHub Administration" %}</h1>

    <div class="dashboard-grid">
        <div class="profile-card card">
            <div class="card-body text-center">
                {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture"
                    class="rounded-circle img-fluid mb-3 profile-picture">
                {% else %}
                <img src="{% static 'images/josie.jpg' %}" alt="Default Profile Picture"
                    class="rounded-circle img-fluid mb-3 profile-picture">
                {% endif %}
                <h3 class="card-title">{{ user.username }}</h3>
                <p class="text-muted">{{ user.profile.bio|truncatewords:30 }}</p>
                <div class="social-links mt-3">
                    {% if user.profile.linkedin_profile %}
                    <a href="{{ user.profile.linkedin_profile }}" target="_blank"
                        class="btn btn-outline-primary btn-sm">LinkedIn</a>
                    {% endif %}
                    {% if user.profile.github_profile %}
                    <a href="{{ user.profile.github_profile }}" target="_blank"
                        class="btn btn-outline-dark btn-sm">GitHub</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="actions-container card">
            <div class="card-body">
                <h3>{% trans "Actions" %}</h3>
                <ul>
                    <li><a href="{% url 'admin:index' %}">{% trans "Django Admin" %}</a></li>
                    <li><a href="{% url 'admin_dashboard' %}">{% trans "Custom Admin Dashboard" %}</a></li>
                    <li><a href="{% url 'manage_mentorship_requests' %}">{% trans "Manage Mentorship Requests" %}</a>
                    </li>
                    <li><a href="{% url 'view_profile' username=user.username %}">{% trans "View User Profile" %}</a>
                    </li>                    
                    <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>                 
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}