{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>My Mentorships</h2>

    <h3>As Mentor</h3>
    <ul class="list-group mb-4">
        {% for mentorship in mentorships_as_mentor %}
        <li class="list-group-item">
            Mentee: {{ mentorship.mentee.username }} | Status: {{ mentorship.status }}
            {% if mentorship.start_date %}
            | Started: {{ mentorship.start_date }}
            {% endif %}
        </li>
        {% empty %}
        <li class="list-group-item">You are not mentoring anyone at the moment.</li>
        {% endfor %}
    </ul>

    <h3>As Mentee</h3>
    <ul class="list-group">
        {% for mentorship in mentorships_as_mentee %}
        <li class="list-group-item">
            Mentor: {{ mentorship.mentor.username }} | Status: {{ mentorship.status }}
            {% if mentorship.start_date %}
            | Started: {{ mentorship.start_date }}
            {% endif %}
        </li>
        {% empty %}
        <li class="list-group-item">You are not being mentored at the moment.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}