{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-5 text-center order-md-2">
            <img src="{% static 'images/404.webp' %}" alt="404 Error" class="img-fluid mb-4" style="max-height: 300px;">
        </div>
        <div class="col-md-6 col-lg-5 text-center text-md-start order-md-1">
            <h1 class="display-4 logo-font text-primary mb-4">Oops! Page Not Found</h1>
            <p class="lead text-muted mb-4">We couldn't find the page you were looking for. This might be because:</p>
            <ul class="list-unstyled text-muted mb-4">
                <li><i class="fas fa-times-circle text-danger me-2"></i> The page has been moved or deleted.</li>
                <li><i class="fas fa-exclamation-triangle text-warning me-2"></i> The URL is incorrect.</li>
                <li><i class="fas fa-lock text-secondary me-2"></i> You do not have permission to view this page.</li>
            </ul>
            <div class="mt-5">
                <a href="{% url 'masteryhub:session_list' %}" class="btn btn-lg btn-primary me-3 mb-3">
                    <i class="fas fa-list-alt me-2"></i>  Return to Sessions
                </a>
                <a href="{% url 'home:index' %}" class="btn btn-lg btn-outline-dark mb-3">
                    <i class="fas fa-home me-2"></i> Return to Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}