<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'session_list' %}">Explore Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_mentors' %}">Become a Mentor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'search_mentors' %}">Find a Mentor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
    </ul>
</div>