<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'search_mentors' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="mobile-user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'admin_dashboard' %}" class="dropdown-item">Admin Dashboard</a>
        {% endif %}
        {% if not request.user.profile.is_expert %}
        <a href="{% url 'mentee_dashboard' %}" class="dropdown-item">Mentee Dashboard</a>
        {% endif %}
        <a href="{% url 'mentor_matching' %}" class="dropdown-item">Mentor Matching</a>
        <a href="{% url 'view_own_profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% if request.user.profile.is_expert %}
        <a href="{% url 'expert_dashboard' %}" class="dropdown-item">Expert Dashboard</a>
        <a href="{% url 'manage_mentorship_requests' %}" class="dropdown-item">Manage Mentorship Requests</a>
        {% endif %}
        {% else %}
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
        href="{% url 'view_cart' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>