<div class="row d-lg-none bg-dark text-white py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a href="{% url 'home' %}" class="text-white">
                    <h2 class="logo-font"><strong>MasteryHub</strong></h2>
                </a>
            </div>
            <div class="col-6 text-right py-2">
                <a href="{% url 'account_login' %}" class="text-white"><i class="fas fa-user fa-lg"></i></a>
                <a href="{% url 'account_signup' %}" class="text-white ml-3"><i class="fas fa-user-plus fa-lg"></i></a>
                <a href="#" class="text-white ml-3"><i class="fas fa-shopping-bag fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>
